{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>DJATO | Home</title>
{% endblock head %}

{% block body %}
<div class="text-center my-5 p-5">
    <div class="row">
        <div class="col">
            <h1 class='font-weight-bold' style='font-size: 3.5rem'>
                Free up your mental space
            </h1>

            <p class='lead' style="max-width: 47rem; display: inline-block; margin: 1rem 0px;">
                Regain clarity and calmness by getting all those tasks out of your head and onto your to-do list (no
                matter
                where
                you
                are or what device you use).
            </p>
            <a href="{% url 'todo:features' %}" class="btn  btn-lg btn-primary float-left">Features</a>

            {% if request.user.is_anonymous %}
            <a href="{% url 'user:register' %}" class="btn btn-lg btn-primary float-right">
                <i class="fa fa-arrow-alt-circle-right"></i>
                <span>
                    Let's Start
                </span>
            </a>
            {% else %}
            <a href="{% url 'todo:groups' %}" class="btn btn-lg btn-primary float-right">
                <i class="fa fa-arrow-alt-circle-right"></i>
                <span>
                    Let's Start
                </span>
            </a>
            {% endif %}
        </div>

        <div class="col-4">
            <img src="{% static 'images/data.png' %}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{% endblock body %}